/* Levi Adds */
@import url('https://fonts.googleapis.com/css2?&family=Girassol&family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Almendra+Display&family=Amarante&family=Astloch:wght@400;700&family=Bungee+Outline&family=Cherry+Swash:wght@400;700&family=Codystar:wght@300;400&family=Croissant+One&family=Dynalight&family=Elsie+Swash+Caps:wght@400;900&family=Elsie:wght@400;900&family=Ewert&family=Geostar&family=Geostar+Fill&family=Griffy&family=Jacques+Francois+Shadow&family=Katibeh&family=Kumar+One+Outline&family=Limelight&family=MedievalSharp&family=Metamorphous&family=Milonga&family=Miltonian+Tattoo&family=Modern+Antiqua&family=Mountains+of+Christmas:wght@400;700&family=Nosifer&family=Oldenburg&family=Plaster&family=Playball&family=Raleway+Dots&family=Ruslan+Display&family=Sail&family=Sancreek&family=Sevillana&family=Snowburst+One&family=Spirax&family=Srisakdi:wght@400;700&family=Train+One&family=Underdog&family=UnifrakturCook:wght@700&family=Unlock&family=Viaoda+Libre&family=Vibes&family=Warnes&family=Yatra+One&display=swap');
/* display August 2021 */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Almendra+Display&family=Atma:wght@300;700&family=Atomic+Age&family=Audiowide&family=Averia+Libre:ital,wght@0,300;1,300&family=Bahiana&family=Baloo+Thambi+2&family=Bangers&family=Barrio&family=Battambang&family=Baumans&family=Bebas+Neue&family=Bevan&family=Big+Shoulders+Stencil+Text:wght@100&family=Bigelow+Rules&family=Black+Ops+One&family=Bowlby+One+SC&family=Bubblegum+Sans&family=Bungee&family=Bungee+Inline&family=Bungee+Shade&family=Cabin+Sketch&family=Caesar+Dressing&family=Ceviche+One&family=Chicle&family=Cinzel+Decorative&family=Codystar:wght@300&family=Comfortaa&family=Corben&family=Courier+Prime&family=Creepster&family=Cute+Font&family=Cutive+Mono&family=Eater&family=Emilys+Candy&family=Faster+One&family=Finger+Paint&family=Freckle+Face&family=Fredoka+One&family=Frijole&family=Graduate&family=Grenze+Gotisch&family=Gugi&family=Hanalei&family=Happy+Monkey&family=Iceland&family=Jolly+Lodger&family=Kelly+Slab&family=Kumar+One&family=Lemonada:wght@300&family=Libre+Barcode+39&family=Libre+Barcode+39+Text&family=Lobster&family=Lobster+Two&family=Londrina+Outline&family=Love+Ya+Like+A+Sister&family=Luckiest+Guy&family=Macondo+Swash+Caps&family=Major+Mono+Display&family=Megrim&family=Metal+Mania&family=Monofett&family=Monoton&family=MuseoModerno:wght@100&family=Nanum+Gothic+Coding&family=Nosifer&family=Nova+Mono&family=Oi&family=Oleo+Script+Swash+Caps&family=Original+Surfer&family=PT+Mono&family=Palette+Mosaic&family=Piedra&family=Pirata+One&family=Poiret+One&family=Pompiere&family=Poor+Story&family=Press+Start+2P&family=Racing+Sans+One&family=Rammetto+One&family=Rampart+One&family=Ranchers&family=Ravi+Prakash&family=Righteous&family=Roboto+Mono&family=Rye&family=Sancreek&family=Share+Tech+Mono&family=Shojumaru&family=Skranji&family=Sniglet:wght@400;800&family=Special+Elite&family=Staatliches&family=Stardos+Stencil&family=Syne+Mono&family=Syne+Tactile&family=Tourney:wght@100&family=Trade+Winds&family=Turret+Road:wght@200&family=Ubuntu+Mono&family=Uncial+Antiqua&family=UnifrakturMaguntia&family=Unkempt&family=VT323&family=Vampiro+One&family=Vast+Shadow&family=Wallpoet&family=Xanh+Mono:ital@0;1&family=ZCOOL+KuaiLe&family=ZCOOL+QingKe+HuangYou&family=Zen+Dots&family=Zen+Loop:ital@0;1&family=Zen+Tokyo+Zoo&family=Zilla+Slab+Highlight&display=swap');

/* monospace August 2021 */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Belleza&family=Bubbler+One&family=Dosis:wght@300;400;500;600;700;800&family=Federo&family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Geo:ital@0;1&family=Josefin+Sans&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cutive+Mono&family=Major+Mono+Display&family=Nanum+Gothic+Coding&family=Nova+Mono&family=PT+Mono&family=Roboto+Mono&family=Share+Tech+Mono&family=Syne+Mono&family=Ubuntu+Mono&family=VT323&family=Xanh+Mono:ital@0;1&display=swap');

/* handwriting August 2021 */
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Bad+Script&family=Bilbo+Swash+Caps&family=Calligraffitti&family=Caveat&family=Cedarville+Cursive&family=Dancing+Script&family=Dawning+of+a+New+Day&family=Fuggles&family=Great+Vibes&family=Herr+Von+Muellerhoff&family=Homemade+Apple&family=Jim+Nightshade&family=Kristi&family=La+Belle+Aurore&family=League+Script&family=Lovers+Quarrel&family=Molle:ital@1&family=Monsieur+La+Doulaise&family=Mr+Bedfort&family=Mrs+Sheppards&family=Pacifico&family=Parisienne&family=Permanent+Marker&family=Rock+Salt&family=Sacramento&family=Shadows+Into+Light&family=Walter+Turncoat&family=WindSong&family=Zeyada&display=swap');

/* Sans-serif August 2021 */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Archivo&family=Besley&family=Changa&family=Cinzel&family=Dosis&family=EB+Garamond&family=Encode+Sans+SC&family=Exo+2&family=Ibarra+Real+Nova&family=Imbue&family=Inter&family=Josefin+Sans&family=Josefin+Slab&family=Orbitron&family=Oswald&family=Playfair+Display&family=Podkova&family=Quicksand&family=Raleway&family=Reem+Kufi&family=Rubik&family=Signika&family=Space+Grotesk&family=Texturina&family=Truculenta&family=Work+Sans&family=Yanone+Kaffeesatz&display=swap');

/* Serif August 2021 */
@import url('https://fonts.googleapis.com/css2?family=Besley&family=Cinzel&family=EB+Garamond&family=Ibarra+Real+Nova&family=Imbue&family=Josefin+Slab&family=Playfair+Display&family=Podkova&family=Texturina&display=swap');

:root {
  /* New Levi Adds for Divinity and more inspo */
  --font-family-Advent_Pro: 'Advent Pro', sans-serif;
  --font-family-Alegreya_Sans_SC: 'Alegreya Sans SC', sans-serif;
  --font-family-Bubbler_One: 'Bubbler One', sans-serif;
  --font-family-Geo: 'Geo', sans-serif;
  --font-family-GFS_Neohellenic: 'GFS Neohellenic', sans-serif;
  --font-family-Palanquin: 'Palanquin', sans-serif;

  --font-family-Girassol: 'Girassol', cursive;
  --font-family-New_Rocker: 'New Rocker', cursive;
  /* Serif August 2021 */
  --font-family-Besley: 'Besley', serif;
  --font-family-Cinzel: 'Cinzel', serif;
  --font-family-EB_Garamond: 'EB Garamond', serif;
  --font-family-Ibarra_Real_Nova: 'Ibarra Real Nova', serif;
  --font-family-Imbue: 'Imbue', serif;
  --font-family-Josefin_Slab: 'Josefin Slab', serif;
  --font-family-Playfair_Display: 'Playfair Display', serif;
  --font-family-Podkova: 'Podkova', serif;
  --font-family-Texturina: 'Texturina', serif;
  /* Sans-serif August 2021 */
  --font-family-Alumni_Sans: 'Alumni Sans', sans-serif;
  --font-family-Archivo: 'Archivo', sans-serif;
  --font-family-Besley: 'Besley', serif;
  --font-family-Changa: 'Changa', sans-serif;
  --font-family-Cinzel: 'Cinzel', serif;
  --font-family-Dosis: 'Dosis', sans-serif;
  --font-family-EB_Garamond: 'EB Garamond', serif;
  --font-family-Encode_Sans_SC: 'Encode Sans SC', sans-serif;
  --font-family-Exo_2: 'Exo 2', sans-serif;
  --font-family-Ibarra_Real_Nova: 'Ibarra Real Nova', serif;
  --font-family-Imbue: 'Imbue', serif;
  --font-family-Inter: 'Inter', sans-serif;
  --font-family-Josefin_Sans: 'Josefin Sans', sans-serif;
  --font-family-Josefin_Slab: 'Josefin Slab', serif;
  --font-family-Orbitron: 'Orbitron', sans-serif;
  --font-family-Oswald: 'Oswald', sans-serif;
  --font-family-Playfair_Display: 'Playfair Display', serif;
  --font-family-Podkova: 'Podkova', serif;
  --font-family-Quicksand: 'Quicksand', sans-serif;
  --font-family-Raleway: 'Raleway', sans-serif;
  --font-family-Reem_Kufi: 'Reem Kufi', sans-serif;
  --font-family-Rubik: 'Rubik', sans-serif;
  --font-family-Signika: 'Signika', sans-serif;
  --font-family-Space_Grotesk: 'Space Grotesk', sans-serif;
  --font-family-Texturina: 'Texturina', serif;
  --font-family-Truculenta: 'Truculenta', sans-serif;
  --font-family-Work_Sans: 'Work Sans', sans-serif;
  --font-family-Yanone_Kaffeesatz: 'Yanone Kaffeesatz', sans-serif;
  /* handwriting */
  --font-family-Allison: 'Allison', cursive;
  --font-family-Bad_Script: 'Bad Script', cursive;
  --font-family-Bilbo_Swash_Caps: 'Bilbo Swash Caps', cursive;
  --font-family-Calligraffitti: 'Calligraffitti', cursive;
  --font-family-Caveat: 'Caveat', cursive;
  --font-family-Cedarville_Cursive: 'Cedarville Cursive', cursive;
  --font-family-Dancing_Script: 'Dancing Script', cursive;
  --font-family-Dawning_of_a_New_Day: 'Dawning of a New Day', cursive;
  --font-family-Fuggles: 'Fuggles', cursive;
  --font-family-Great_Vibes: 'Great Vibes', cursive;
  --font-family-Herr_Von_Muellerhoff: 'Herr Von Muellerhoff', cursive;
  --font-family-Homemade_Apple: 'Homemade Apple', cursive;
  --font-family-Jim_Nightshade: 'Jim Nightshade', cursive;
  --font-family-Kristi: 'Kristi', cursive;
  --font-family-La_Belle_Aurore: 'La Belle Aurore', cursive;
  --font-family-League_Script: 'League Script', cursive;
  --font-family-Lovers_Quarrel: 'Lovers Quarrel', cursive;
  --font-family-Molle: 'Molle', cursive;
  --font-family-Monsieur_La_Doulaise: 'Monsieur La Doulaise', cursive;
  --font-family-Mr_Bedfort: 'Mr Bedfort', cursive;
  --font-family-Mrs_Sheppards: 'Mrs Sheppards', cursive;
  --font-family-Pacifico: 'Pacifico', cursive;
  --font-family-Parisienne: 'Parisienne', cursive;
  --font-family-Permanent_Marker: 'Permanent Marker', cursive;
  --font-family-Rock_Salt: 'Rock Salt', cursive;
  --font-family-Sacramento: 'Sacramento', cursive;
  --font-family-Shadows_Into_Light: 'Shadows Into Light', cursive;
  --font-family-Walter_Turncoat: 'Walter Turncoat', cursive;
  --font-family-WindSong: 'WindSong', cursive;
  --font-family-Zeyada: 'Zeyada', cursive;
  /* monospace */
  --font-family-Courier_Prime: 'Courier Prime', monospace;
  --font-family-Cutive_Mono: 'Cutive Mono', monospace;
  --font-family-Major_Mono_Display: 'Major Mono Display', monospace;
  --font-family-Nanum_Gothic_Coding: 'Nanum Gothic Coding', monospace;
  --font-family-Nova_Mono: 'Nova Mono', monospace;
  --font-family-PT_Mono: 'PT Mono', monospace;
  --font-family-Roboto_Mono: 'Roboto Mono', monospace;
  --font-family-Share_Tech_Mono: 'Share Tech Mono', monospace;
  --font-family-Syne_Mono: 'Syne Mono', monospace;
  --font-family-Ubuntu_Mono: 'Ubuntu Mono', monospace;
  --font-family-VT323: 'VT323', monospace;
  --font-family-Xanh_Mono: 'Xanh Mono', monospace;
  /* display */
  --font-family-Abril_Fatface: 'Abril Fatface', cursive;
  --font-family-Alfa_Slab_One: 'Alfa Slab One', cursive;
  --font-family-Almendra_Display: 'Almendra Display', cursive;
  --font-family-Atma: 'Atma', cursive;
  --font-family-Atomic_Age: 'Atomic Age', cursive;
  --font-family-Audiowide: 'Audiowide', cursive;
  --font-family-Averia_Libre: 'Averia Libre', cursive;
  --font-family-Bahiana: 'Bahiana', cursive;
  --font-family-Baloo_Thambi_2: 'Baloo Thambi 2', cursive;
  --font-family-Bangers: 'Bangers', cursive;
  --font-family-Barrio: 'Barrio', cursive;
  --font-family-Battambang: 'Battambang', cursive;
  --font-family-Baumans: 'Baumans', cursive;
  --font-family-Bebas_Neue: 'Bebas Neue', cursive;
  --font-family-Bevan: 'Bevan', cursive;
  --font-family-Big_Shoulders_Stencil_Text: 'Big Shoulders Stencil Text', cursive;
  --font-family-Bigelow_Rules: 'Bigelow Rules', cursive;
  --font-family-Black_Ops_One: 'Black Ops One', cursive;
  --font-family-Bowlby_One_SC: 'Bowlby One SC', cursive;
  --font-family-Bubblegum_Sans: 'Bubblegum Sans', cursive;
  --font-family-Bungee: 'Bungee', cursive;
  --font-family-Bungee_Inline: 'Bungee Inline', cursive;
  --font-family-Bungee_Shade: 'Bungee Shade', cursive;
  --font-family-Cabin_Sketch: 'Cabin Sketch', cursive;
  --font-family-Caesar_Dressing: 'Caesar Dressing', cursive;
  --font-family-Ceviche_One: 'Ceviche One', cursive;
  --font-family-Chicle: 'Chicle', cursive;
  --font-family-Cinzel_Decorative: 'Cinzel Decorative', cursive;
  --font-family-Codystar: 'Codystar', cursive;
  --font-family-Comfortaa: 'Comfortaa', cursive;
  --font-family-Corben: 'Corben', cursive;
  --font-family-Courier_Prime: 'Courier Prime', monospace;
  --font-family-Creepster: 'Creepster', cursive;
  --font-family-Cute_Font: 'Cute Font', cursive;
  --font-family-Cutive_Mono: 'Cutive Mono', monospace;
  --font-family-Eater: 'Eater', cursive;
  --font-family-Emilys_Candy: 'Emilys Candy', cursive;
  --font-family-Faster_One: 'Faster One', cursive;
  --font-family-Finger_Paint: 'Finger Paint', cursive;
  --font-family-Freckle_Face: 'Freckle Face', cursive;
  --font-family-Fredoka_One: 'Fredoka One', cursive;
  --font-family-Frijole: 'Frijole', cursive;
  --font-family-Graduate: 'Graduate', cursive;
  --font-family-Grenze_Gotisch: 'Grenze Gotisch', cursive;
  --font-family-Gugi: 'Gugi', cursive;
  --font-family-Hanalei: 'Hanalei', cursive;
  --font-family-Happy_Monkey: 'Happy Monkey', cursive;
  --font-family-Iceland: 'Iceland', cursive;
  --font-family-Jolly_Lodger: 'Jolly Lodger', cursive;
  --font-family-Kelly_Slab: 'Kelly Slab', cursive;
  --font-family-Kumar_One: 'Kumar One', cursive;
  --font-family-Lemonada: 'Lemonada', cursive;
  --font-family-Libre_Barcode_39: 'Libre Barcode 39', cursive;
  --font-family-Libre_Barcode_39_Text: 'Libre Barcode 39 Text', cursive;
  --font-family-Lobster: 'Lobster', cursive;
  --font-family-Lobster_Two: 'Lobster Two', cursive;
  --font-family-Londrina_Outline: 'Londrina Outline', cursive;
  --font-family-Love_Ya_Like_A_Sister: 'Love Ya Like A Sister', cursive;
  --font-family-Luckiest_Guy: 'Luckiest Guy', cursive;
  --font-family-Macondo_Swash_Caps: 'Macondo Swash Caps', cursive;
  --font-family-Major_Mono_Display: 'Major Mono Display', monospace;
  --font-family-Megrim: 'Megrim', cursive;
  --font-family-Metal_Mania: 'Metal Mania', cursive;
  --font-family-Monofett: 'Monofett', cursive;
  --font-family-Monoton: 'Monoton', cursive;
  --font-family-MuseoModerno: 'MuseoModerno', cursive;
  --font-family-Nanum_Gothic_Coding: 'Nanum Gothic Coding', monospace;
  --font-family-Nosifer: 'Nosifer', cursive;
  --font-family-Nova_Mono: 'Nova Mono', monospace;
  --font-family-Oi: 'Oi', cursive;
  --font-family-Oleo_Script_Swash_Caps: 'Oleo Script Swash Caps', cursive;
  --font-family-Original_Surfer: 'Original Surfer', cursive;
  --font-family-Palette_Mosaic: 'Palette Mosaic', cursive;
  --font-family-Piedra: 'Piedra', cursive;
  --font-family-Pirata_One: 'Pirata One', cursive;
  --font-family-Poiret_One: 'Poiret One', cursive;
  --font-family-Pompiere: 'Pompiere', cursive;
  --font-family-Poor_Story: 'Poor Story', cursive;
  --font-family-Press_Start_2P: 'Press Start 2P', cursive;
  --font-family-PT_Mono: 'PT Mono', monospace;
  --font-family-Racing_Sans_One: 'Racing Sans One', cursive;
  --font-family-Rammetto_One: 'Rammetto One', cursive;
  --font-family-Rampart_One: 'Rampart One', cursive;
  --font-family-Ranchers: 'Ranchers', cursive;
  --font-family-Ravi_Prakash: 'Ravi Prakash', cursive;
  --font-family-Righteous: 'Righteous', cursive;
  --font-family-Roboto_Mono: 'Roboto Mono', monospace;
  --font-family-Rye: 'Rye', cursive;
  --font-family-Sancreek: 'Sancreek', cursive;
  --font-family-Share_Tech_Mono: 'Share Tech Mono', monospace;
  --font-family-Shojumaru: 'Shojumaru', cursive;
  --font-family-Skranji: 'Skranji', cursive;
  --font-family-Sniglet: 'Sniglet', cursive;
  --font-family-Special_Elite: 'Special Elite', cursive;
  --font-family-Staatliches: 'Staatliches', cursive;
  --font-family-Stardos_Stencil: 'Stardos Stencil', cursive;
  --font-family-Syne_Mono: 'Syne Mono', monospace;
  --font-family-Syne_Tactile: 'Syne Tactile', cursive;
  --font-family-Tourney: 'Tourney', cursive;
  --font-family-Trade_Winds: 'Trade Winds', cursive;
  --font-family-Turret_Road: 'Turret Road', cursive;
  --font-family-Ubuntu_Mono: 'Ubuntu Mono', monospace;
  --font-family-Uncial_Antiqua: 'Uncial Antiqua', cursive;
  --font-family-UnifrakturMaguntia: 'UnifrakturMaguntia', cursive;
  --font-family-Unkempt: 'Unkempt', cursive;
  --font-family-Vampiro_One: 'Vampiro One', cursive;
  --font-family-Vast_Shadow: 'Vast Shadow', cursive;
  --font-family-VT323: 'VT323', monospace;
  --font-family-Wallpoet: 'Wallpoet', cursive;
  --font-family-Xanh_Mono: 'Xanh Mono', monospace;
  --font-family-ZCOOL_KuaiLe: 'ZCOOL KuaiLe', cursive;
  --font-family-ZCOOL_QingKe_HuangYou: 'ZCOOL QingKe HuangYou', cursive;
  --font-family-Zen_Dots: 'Zen Dots', cursive;
  --font-family-Zen_Loop: 'Zen Loop', cursive;
  --font-family-Zen_TokyoZoo: 'Zen Tokyo Zoo', cursive;
  --font-family-Zilla_Slab_Highlight: 'Zilla Slab Highlight', cursive;
  /* Levi Input */
  --font-family-Abril_Fatface: 'Abril Fatface', cursive;  
  --font-family-Almendra_Display: 'Almendra Display', cursive;  
  --font-family-Amarante: 'Amarante', cursive;  
  --font-family-Astloch: 'Astloch', cursive;  
  --font-family-Bungee_Outline: 'Bungee Outline', cursive;  
  --font-family-Cherry_Swash: 'Cherry Swash', cursive;  
  --font-family-Codystar: 'Codystar', cursive;  
  --font-family-Croissant_One: 'Croissant One', cursive;  
  --font-family-Dynalight: 'Dynalight', cursive;  
  --font-family-Elsie: 'Elsie', cursive;  
  --font-family-Elsie_Swash_Caps: 'Elsie Swash Caps', cursive;  
  --font-family-Ewert: 'Ewert', cursive;  
  --font-family-Geostar: 'Geostar', cursive;  
  --font-family-Geostar_Fill: 'Geostar Fill', cursive;  
  --font-family-Griffy: 'Griffy', cursive;  
  --font-family-Jacques_Francois_Shadow: 'Jacques Francois Shadow', cursive;  
  --font-family-Katibeh: 'Katibeh', cursive;  
  --font-family-Kumar_One_Outline: 'Kumar One Outline', cursive;  
  --font-family-Limelight: 'Limelight', cursive;  
  --font-family-MedievalSharp: 'MedievalSharp', cursive;  
  --font-family-Metamorphous: 'Metamorphous', cursive;  
  --font-family-Milonga: 'Milonga', cursive;  
  --font-family-Miltonian_Tattoo: 'Miltonian Tattoo', cursive;  
  --font-family-Modern_Antiqua: 'Modern Antiqua', cursive;  
  --font-family-Mountains_of_Christmas: 'Mountains of Christmas', cursive;  
  --font-family-Nosifer: 'Nosifer', cursive;  
  --font-family-Oldenburg: 'Oldenburg', cursive;  
  --font-family-Plaster: 'Plaster', cursive;  
  --font-family-Playball: 'Playball', cursive;  
  --font-family-Raleway_Dots: 'Raleway Dots', cursive;  
  --font-family-Ruslan_Display: 'Ruslan Display', cursive;  
  --font-family-Sail: 'Sail', cursive;  
  --font-family-Sancreek: 'Sancreek', cursive;  
  --font-family-Sevillana: 'Sevillana', cursive;  
  --font-family-Snowburst_One: 'Snowburst One', cursive;  
  --font-family-Spirax: 'Spirax', cursive;  
  --font-family-Srisakdi: 'Srisakdi', cursive;  
  --font-family-Train_One: 'Train One', cursive;  
  --font-family-Underdog: 'Underdog', cursive;  
  --font-family-UnifrakturCook: 'UnifrakturCook', cursive;  
  --font-family-Unlock: 'Unlock', cursive;  
  --font-family-Viaoda_Libre: 'Viaoda Libre', cursive;  
  --font-family-Vibes: 'Vibes', cursive;  
  --font-family-Warnes: 'Warnes', cursive;
  --font-family-Yatra_One: 'Yatra One', cursive;
}